{% extends 'base/Basic.html' %}
{% load static %}


{% block title %}Welcome to Chop N Chill – Nature’s Freshness at Your Doorstep{% endblock %}

{% block content %}
    {% include "LandingPage/Search.html" %}
    {% include "LandingPage/hero.html" %}
    {% include "LandingPage/features.html" %}
    {% include "LandingPage/category.html" %}
    {% include "LandingPage/offersection.html" %}
    {% include "LandingPage/Selling.html" %}
    {% include "LandingPage/banner.html" %}
    
    
{% endblock %}
